# Add this to pyproject.toml when running on Alliance systems

# Custom indexes for Compute Canada StdEnv/2023
# Taken from `pip config list` wheel.find-links value.
[[tool.uv.index]]
name = "computecanada-gentoo2023-x86-64"
url = "/cvmfs/soft.computecanada.ca/custom/python/wheelhouse/gentoo2023/x86-64-v3"
format = "flat"

[[tool.uv.index]]
name = "computecanada-gentoo2023-generic"
url = "/cvmfs/soft.computecanada.ca/custom/python/wheelhouse/gentoo2023/generic"
format = "flat"

[[tool.uv.index]]
name = "computecanada-generic"
url = "/cvmfs/soft.computecanada.ca/custom/python/wheelhouse/generic"
format = "flat"

# Fallback to PyPI
[[tool.uv.index]]
name = "pypi"
url = "https://pypi.org/simple"
